.header {
    text-align: center;
    h2 {
        font-family: 'Cabin', sans-serif;
    }
    .new-todo {
        font-size: 20px;
        padding: 10px 20px;
        border-width: 2px;
        border-radius: 25px;
        outline: none;
    }
}
